.alp-appbar
  background primaryColor1
  color textColor
  z-index 1000
  -webkit-tap-highlight-color transparent
  display flex
  flex-direction row
  justify-content space-around
  text-align center
  position fixed
  box-shadow 0 1px 0 rgba(black, .2), 0 0 3px rgba(black, .2)

  .alp-title-wrap
    flex 1

    .alp-title
      font-weight: 400

//TODO: Android style
