.alp-toolbar.alp-appbar
  background appbarColor
  color appbarTextColor
  z-index appbarZIndex
  -webkit-tap-highlight-color transparent
  flex-direction row
  justify-content space-around
  text-align center
  box-shadow 0 1px 0 rgba(black, .2), 0 0 3px rgba(black, .2)
  position fixed

  .alp-title-content
    position absolute
    z-index -1

//TODO: Android style
