.alp-button
  display inline-block
  background accentColor1
  color textInvertColor
  text-decoration none
  text-align center
  margin gutterMini (gutterMini / 2)
  padding 0 gutterMini
  line-height 2
  border 1px solid transparent
  border-radius 4px
  font-size 1.2rem

  &.outline
    border-color accentColor1
    background transparent
    color accentColor1

  &.clear
    color textColor
    background transparent

  &.round
    border-radius 100%

  &.block
    display block
    margin-left gutterMini
    margin-right gutterMini

  &.full
    border-radius 0
    width 100%
    display block

  &:focus
    outline none

  .icon
    display inline-block
    margin-right .3rem
    font-size 1.2rem
    vertical-align middle

.alp-button.icon-top
  font-size .7rem
  .alp-icon, .icon
    margin-right 0
    width 100%
    font-size iconSize
    line-height 1rem

.paper .alp-button.block
  margin-left 0
  margin-right 0

.paper .alp-button.full
  margin-left - gutterMini
  margin-right - gutterMini
