.alp-paper
  background paperColor
  -webkit-tap-highlight-color rgba(0,0,0,0)
  transition box-shadow .1s ease
  margin .5rem 0
  padding .5rem
  &.inline
    display inline-block
    padding .5rem
    margin .5rem
  &.circle
    border-radius 100%

  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
