.alp-list
  list-style none
  padding 0
  margin gutterMini 0

.alp-list>.alp-item
  border-left-width 0
  border-right-width 0

.alp-list.no-line>.alp-item
  border-bottom-color transparent

.alp-paper>.alp-list
  margin-left - gutterMini
  margin-right - gutterMini
  &:last-child
    margin-bottom - gutterMini
  &:first-child
    margin-top - gutterMini
