.alp-fragment
  width 0
  height 0

  .alp-fragment-content
    position fixed
    top gutterMini
    bottom gutterMini
    left gutterMini
    right gutterMini
    z-index 1100
    border-radius gutterMini

    &.has-header
      padding-top appbarHeight

    &.full
      top 0
      bottom 0
      left 0
      right 0
      border-radius 0

  // ------ fade ------ //
  .alp-fragment-fade-enter {
    opacity: 0.01;
  }

  .alp-fragment-fade-enter.alp-fragment-fade-enter-active {
    opacity: 1;
    transition: opacity 368ms ease;
  }

  .alp-fragment-fade-leave {
    opacity: 1;
  }

  .alp-fragment-fade-leave.alp-fragment-fade-leave-active {
    opacity: 0.01;
    transition: opacity 256ms ease;
  }

  // ------ slide ------ //
  .alp-fragment-slide-enter {
    transform: translateX(100%);
  }

  .alp-fragment-slide-enter.alp-fragment-slide-enter-active {
    transform: translateX(0);
    transition: transform 368ms ease;
  }

  .alp-fragment-slide-leave {
    transform: translateX(0);
  }

  .alp-fragment-slide-leave.alp-fragment-slide-leave-active {
    transform: translateX(100%);
    transition: transform 256ms ease;
  }
