.alp-toolbar
  .alp-title-content
    margin-top gutterLess
    margin-bottom gutterLess
    left 0
    right 0
    float left

    .alp-title
      font-weight 400
      font-size gutter
      line-height gutter
      margin-top 0
      margin-bottom 0
      // display inline-block
