.alp-toolbar
  position absolute
  left 0
  top 0
  width 100%
  height toolbarHeight
  //z-index toolbarZIndex

  //display flex
  //flex-direction row
  //justify-content space-around
  //text-align center

  color toolbarTextColor
  background toolbarColor
