.alp-layout
  position absolute
  top 0
  bottom 0
  left 0
  right 0

  color textColor
  background #efefef

  overflow-x hidden
  overflow-y auto

  transition margin-top .2s ease, margin-bottom .2s ease

  &.has-header
    margin-top appbarHeight
  &.has-tabs
    margin-bottom tabsHeight
