// Paper
paperColor ?= white

// Toolbar
toolbarColor ?= primaryColor3
toolbarTextColor ?= invertTextColor

// Appbar
appbarZIndex ?= 1000
appbarHeight ?= toolbarHeight
appbarColor ?= primaryColor1
appbarTextColor ?= textColor2

// Tabs
tabsHeight ?= toolbarHeight
tabsColor ?= primaryColor2

/**
 * Screen media query
 */
