// Paper
paperColor ?= white

// Toolbar
toolbarColor ?= primaryColor3
toolbarTextColor ?= textInvertColor

// Appbar
appbarZIndex ?= 1000
appbarHeight ?= toolbarHeight
appbarColor ?= primaryColor1
appbarTextColor ?= textInvertColor

// Tabs
tabsHeight ?= toolbarHeight
tabsColor ?= primaryColor2

// Icon
iconSize ?= iconSize
iconColor ?= textInvertColor

// Paper
paperColor ?= white


/**
 * Screen media query
 */
