/**
 * default theme config file
 */

// sizes
fontSize= 16px
iconSize= 1.5rem

gutter= 1.5rem
gutterMore= 2rem
gutterLess= 1rem
gutterMini= .5rem
toolbarHeight= 56px

// colors
primaryColor1= darken(white, 3%)
primaryColor2= #55A8FF
primaryColor3= lighten(black, 10%)
accentColor1= #05C9AF
accentColor2= #05C9AF
accentColor3= #313136
textColor= #333
invertTextColor= white
secondaryTextColor= rgba(textColor, 0.7)
alternateTextColor= #303030
canvasColor= #303030
borderColor= rgba(textColor, 0.3)
disabledColor= rgba(textColor, 0.3)
pickerHeaderColor= rgba(textColor, 0.12)
clockCircleColor= rgba(textColor, 0.12)
