/**
 * default theme config file
 */

@import "~google-material-color/dist/palette.styl"

// sizes
fontSize ?= 16px
iconSize ?= 1.5rem

gutter ?= 1.5rem
gutterMore ?= 2rem
gutterLess ?= 1rem
gutterMini ?= .5rem
toolbarHeight ?= (gutter + gutterMore)

// colors
primaryColor1 ?= palette('Teal', '300')
primaryColor2 ?= palette('Teal', '500')
primaryColor3 ?= palette('Teal', '100')
accentColor1 ?= palette('Pink', '400')
accentColor2 ?= palette('Pink', '700')
accentColor3 ?= palette('Pink', '100')
textColor1 ?= palette('Grey', '900')
textColor2 ?= white
secondaryTextColor ?= palette('Grey', '700')
alternateTextColor ?= palette('Blue Grey', '900')
canvasColor ?= #303030
borderColor ?= rgba(textColor1, 0.3)
disabledColor ?= rgba(textColor1, 0.3)
pickerHeaderColor ?= rgba(textColor1, 0.12)
clockCircleColor ?= rgba(textColor1, 0.12)
