.alp-icon
  font-size iconSize
  height iconSize
  // color iconColor
  display inline-block
  // line-height 1rem

  &>svg
    height iconSize
    fill currentcolor
    float left
    padding-top 4px
